<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<header>
		<div class="header-container">
			<div>Loge</div>
			<ul class="clearfix">
				<li><a href="#">Github</a></li>
				<li><a href="#">Register</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</div>
	</header>
	<section class="slider-container">
		<ul class="slider-nav">
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
		</ul>
	</section>
	<section class="main-container">
		<hr>
		<div class="main-text-container">
			<ul class="main-nav">
				<li><a href="#">HOME</a></li>
				<li><a href="#">PROFILE</a></li>
				<li><a href="#">ABOUT</a></li>
			</ul>
		</div>
		<div class="main-text">
			<article class="article1">
				<div class="text-group">
					<div style="width: 310px; height: 150px;outline: 1px solid #ccc">content</div>
					<div style="width: 310px; height: 150px;outline: 1px solid #ccc">content</div>
					<div style="width: 310px; height: 150px;outline: 1px solid #ccc">content</div>
				</div>
				<div class="text-group">
					<div style="width: 230px; height: 150px;outline: 1px solid #ccc">content</div>
					<div style="width: 230px; height: 150px;outline: 1px solid #ccc">content</div>
					<div style="width: 230px; height: 150px;outline: 1px solid #ccc">content</div>
					<div style="width: 230px; height: 150px;outline: 1px solid #ccc">content</div>
				</div>
				<div class="text-group">
					<div style="width: 310px; height: 150px;outline: 1px solid #ccc">content</div>
					<div style="width: 310px; height: 150px;outline: 1px solid #ccc">content</div>
					<div style="width: 310px; height: 150px;outline: 1px solid #ccc">content</div>
				</div>
			</article>
			<article></article>
			<article></article>
		</div>
	</section>
	<footer>
		© 2018.ife.baidu.com
	</footer>
</body>
</html>